version: '3.3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: shppify-technical-test-server
    container_name: shippify-server
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_HOST=host.docker.internal
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASS=${DATABASE_PASS}
      - DATABASE_PORT=${DATABASE_PORT}
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    networks:
      - shippify
    command: yarn start:prod
    depends_on:
      - db
  db:
    image: mysql
    restart: always
    container_name: shippify-db
    environment:
      MYSQL_DATABASE: '${DATABASE_NAME}'
      MYSQL_USER: '${DATABASE_USER}'
      MYSQL_PASSWORD: '${DATABASE_PASS}'
      MYSQL_ROOT_PASSWORD: '${DATABASE_PASS}'
    ports:
      - '${DATABASE_PORT}:${DATABASE_PORT}'
    expose:
      - '${DATABASE_PORT}'
    volumes:
      - db:/var/lib/mysql
    networks:
      - shippify
volumes:
  db:
networks:
  shippify:
